@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: whitesmoke;
}

/* Colors and Styles */
:root {
  --PrimaryColor: rgb(10, 12, 12);
  --BgColor: rgb(238, 238, 238);
  --textColor: rgb(83, 83, 83);
  --hoverColor: rgb(177, 240, 240);

  /* Fonts and Typo */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
}

/* Default styles */

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--textColor);
  padding: 1rem 2rem;
  color: var(--textColor);
  font-weight: 600px;
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn:hover {
  background: var(--hoverColor);
  color: var(--PrimaryColor);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.container {
  position: relative;
  width: 96vw;
  height: 95vh;
  display: flex;
  align-items: center;
  background: var(--BgColor);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px lightgray;
}

